@model IEnumerable<lab5.Models.Document>

<table class="table">
    <thead>
        <tr>
            <th>Клієнт</th>
            <th>Машина</th>
            <th>Дата початку оренди</th>
            <th>Дата кінця оренди</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var document in Model)
        {
                <tr>
                    <td>@document.client?.name</td>
                    <td>@document.car?.model (@document.car?.brand)</td>
                    <td>@document.startDate</td>
                    <td>@document.endDate</td>
                </tr>
        }
    </tbody>
</table>
